#equipamiento{
    display: flex;
    flex-direction: row;
}

.boton{
    width: 150px;
    margin-top: 20px;
    border-style: outset;
    background-color: red;
    color: white;
    font-weight: 500;
    height: 50px;
    border-color: white;
}

.select{
    height: 50px;
    width: 500px;
    padding-left: 10px;
}

#listaEquipamientos img{
    width: 200px;
}

#select2{
    height: 50px;
    width: 299px;
    padding-left: 10px;
}

#selectFarmacias{
    height: 50px;
    width: 299px;
    padding-left: 10px;
}

#selectParques{
    height: 50px;
    width: 299px;
    padding-left: 10px;
}

.parrafoDireccion{
    padding-left: 10px;
    padding-bottom: 20px;
    font-weight: bold;
}

#parrafo1{
    padding-bottom: 10px;
}

.jimu-widget-frame.jimu-container{
    padding: 30px;
    padding-top: 5px;
}